<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <appSettings>
    <!-- Input configuration -->
    <add key="OrderDirectory" value="input/" />
    <add key="OrderFileSearchPattern" value="input_?.txt" />
    <!-- Formatting template for receipt details -->
    <add key="InvoiceLineItemTemplate" value="{0} {1} : {2}" />
    <!-- Sales tax exempt items -->
    <add key="SalesTaxExemptItems" value="book,books,chocolate bar,chocolates,pills" />
    <add key="TaxRoundToNearest" value="0.05" />
    <!-- Tax percentages in decimal form -->
    <add key="SalesTax" value="0.1" />
    <add key="ImportTax" value="0.05" />
  </appSettings>
</configuration>